//============================================
// * миксин адаптивного шрифта
$layoutWidth: ширина полотна по макету;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  $maxWidth: $layoutWidth - 320;
  @media (max-width: 767px) {
  font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
};



//* ОСНОВНАЯ АДАПТИВНАЯ СЕТКА ТЕХ КОНТЕЙНЕРА
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }

  @media (max-width: $md2+px) {
    max-width: 750px;
  }

  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

// *     BURGER
.icon-menu {
  display: none;
    @media (max-width: px) {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &:active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            top: calc(50% - 1px);
          }
        }
      }
    }
}

// ===========================================
//       Адаптивная картинка
._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}